:root{
    --Primercolor: #292526;
    --Segundocolor: #787676;
    --Tercercolor: #a3a1a2;
    --Cuartocolor: #f2f2f2;
    --quintocolor: #121111;
}
*{ 
    font-family: "Encode Sans", sans-serif;
}
header{
    .div-imagen{
        margin-top: 1rem;
        border-radius: 1rem;
        margin-left: 2.2rem;
        width: 19rem;
        height: 23.2rem;
        background-image: url(/img/paginainicio/producto2.png);
        background-size: cover;
        background-position-y: -2.9rem;
        .atras{
            position: relative;
            top: 1%;
            left: 2%;
            width: 1.5rem;
            padding: 0.6rem;
            text-align: center;
            font-size: 2.5rem;
            border-radius: 100%;
            border: 0.3px solid var(--Tercercolor);
            color: var(--quintocolor);
            background-color: var(--Cuartocolor);
        }
        .corazon{
            width: 1.5rem;
            position: relative;
            top: 1%;
            left: 68%;
            padding: 0.6rem;
            border-radius: 100%;
            background-color: var(--quintocolor);
        }
    }
    .grid-a{
        display: grid;
        margin-bottom: -0.7rem;
        grid-template-columns: 14rem 3rem;
        .grid-mas{
            margin-left: 2.4rem;
            display: grid;
            grid-template-columns: 2rem 2rem 2rem;
        }
    }
    .grid-iconos{
        margin-top: -1.2rem;
        display: grid;
        grid-template-columns: 15rem 15rem;
        .iconos-talla{
            display: grid;
            grid-template-columns: repeat(4,2rem);
        }
        .colores{
            max-width: 8rem;
            display: grid;
            grid-template-columns: repeat(3,2rem);
        }
    }
}
.grid-a h1{
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: -0.5rem;
}
.grid-mas img{
    border: 0.2px solid var(--Tercercolor);
    width: 1.2rem;
    margin-top: 2rem;
    border-radius: 100%;
    padding: 0.4rem;
}
.grid-mas h3{
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 2.25rem;
    margin-left: 0.85rem;
}

header p{
    max-width: 23rem;
    margin-left: 1rem;
    color: var(--Segundocolor);
}
.leer-mas{
    color: var(--quintocolor);
    font-weight: 600;
}
hr{
    opacity: 20%;
}
.colores div:nth-child(1){
    height: 2rem;
    width: 2rem;
    color: var(--Segundocolor);
    text-align: center;
    border-radius: 100%;
    background-color: var(--Segundocolor);
}
.colores div:nth-child(2){
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    color: var(--Primercolor);
    text-align: center;
    border-radius: 100%;
    background-color: var(--Primercolor);
}
.colores div:nth-child(3){
    margin-left: 2rem;
    height: 2rem;
    width: 2rem;
    color: var(--quintocolor);
    text-align: center;
    border-radius: 100%;
    background-color: var(--quintocolor);
}
.iconos-talla div{
    margin: auto;
    border-radius: 100%;
    border: 0.4px solid var(--Tercercolor);
}
.iconos-talla p{
    width: 1rem;
    padding: 0.1rem;
    text-align: center;
    margin: 0.2rem;
}
.grid-iconos h3{
    font-size: 1rem;
    margin-bottom: 0.6rem;
}
section{
    max-width: 23rem;
    margin-top: 2rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 10rem 25rem;
    color: var(--Cuartocolor);
    background-color: var(--Primercolor);
}
section img{
    margin: auto;
    margin-left: 4.5rem;
}
section p{
    max-width: 14rem;
    margin-left: -3.3rem;
}
section del{
    font-size: 0.75rem;
}
a{
    text-decoration: none;
}