:root{
    --Primercolor: #292526;
    --Segundocolor: #787676;
    --Tercercolor: #a3a1a2;
    --Cuartocolor: #f2f2f2;
    --quintocolor: #121111;

}
*{
    font-family: "Encode Sans", sans-serif;
}
.foto-perfil{
    padding: 0.4rem;
    background-color: var(--Primercolor);
    border-radius: 100%;
    margin-top: 1.4rem;
    width: 2.5rem;
}
.barra-busqueda-div  {
    margin-left: 0.9rem;
    border: 1px solid var(--Tercercolor);
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 22rem;
    height: fit-content;
    width: 100%;
    box-shadow: rgb(149, 157, 165,0.2)
        0px 8px 24px;
}
.row {
    display: flex;
    align-items: center;
}
input {
    flex: 1;
    max-height: 2.5rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #27292b;
}

.barra-busqueda-div svg {
    stroke: #27292b;
}

.resultados {
    max-height: 20rem;
    overflow-y: auto;
}

.resultados ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

.resultados ul li {
    list-style: none;
    border-radius: 0.25rem;
    padding: 1rem 0.75rem;
}

.resultados ul li:hover {
    background: #f6f6f6;
    border-radius: 0.25rem;
}
header{
    position: absolute;
    top: 0%;
    .div-busquedayfiltro{
        display: grid;
        grid-template-columns: 15rem 5rem;
        .botonfiltro {
            background-color: var(--Primercolor);
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 20%;
            margin-left: 4.1rem;
            .filtro {
                padding: 0.7rem;
                width: 2rem;
            }
        }
    }
    .usuario {
        margin-left: 0.8rem;
        display: grid;
        grid-template-columns: 18.5rem 2rem;
        .nombre-usuario {
            margin-top: -0.3rem;
            font-size: 1.3rem;
            font-weight: 900;
        }
    }
    .div-filtro-tipo {
        width: 21rem;
        overflow-y: hidden;
        margin-left: 0.9rem;
        margin-top: 2rem;
        display: grid;
         grid-template-columns: repeat(4,8rem);
        .todos {
            height: 2.7rem;
            margin-right: 1rem;
            display: grid;
            grid-template-columns: repeat(2,3rem);
            border: 0.7px solid var(--Tercercolor);
            border-radius: 0.7rem;
            
        }
        .vestidos {
            height: 2.7rem;
            width: 8rem;
            margin-right: 1rem;
            display: grid;
            grid-template-columns: repeat(2,3rem);
            border: 0.7px solid var(--Tercercolor);
            border-radius: 0.7rem
        }
        .camisetas {
            height: 2.7rem;
            width: 8.5rem;
            margin-left: 1rem;
            margin-right: 1rem;
            display: grid;
            grid-template-columns: repeat(2,3rem);
            border: 0.7px solid var(--Tercercolor);
            border-radius: 0.7rem;
        }
        .pantalones{
            height: 2.7rem;
            width: 9rem;
            margin-left: 2.5rem;
            margin-right: 1rem;
            display: grid;
            grid-template-columns: repeat(2,3rem);
            border: 0.7px solid var(--Tercercolor);
            border-radius: 0.7rem;
        }

    }
}
.div-filtro-tipo .vestidos img{
    padding: 0.5rem;
    width: 1.7rem;
}
.div-filtro-tipo .todos img{
    padding: 0.6rem;
    width: 1.5rem;
}
.div-filtro-tipo .camisetas img{
    padding: 0.6rem;
    width: 1.7rem;
}
.div-filtro-tipo .pantalones img{
    padding: 0.6rem;
    width: 1.7rem;
}
.div-filtro-tipo p{
    margin: auto;
    font-weight: 500;
}
.todos:hover{
    background-color: var(--Tercercolor);
    color: var(--Cuartocolor);
}
.vestidos:hover{
    background-color: var(--Tercercolor);
    color: var(--Cuartocolor);
}
.camisetas:hover{
    background-color: var(--Tercercolor);
    color: var(--Cuartocolor);
}
.pantalones:hover{
    background-color: var(--Tercercolor);
    color: var(--Cuartocolor);
}
footer{
    padding: 0.6rem;
    padding-left: 0rem;
    padding-right: 0rem;
    border-radius: 3rem;
    background-color: var(--quintocolor);
    position: absolute;
    top: 91.5%;
    left: 9%;
    display: grid;
    grid-template-columns: repeat(4,5rem);
}
footer div{
    margin: auto;
    padding: 0.45rem;
    border-radius: 100%;
    background-color: var(--Primercolor);
}
section{
    margin-top: 15.5rem;
    display: grid;
    grid-template-columns: 12rem 12rem;
    height: 26rem;
    overflow-x: hidden;
}
.producto-a img{
    width: 11rem;
    border-radius: 1rem;
}
.producto-b img{
    width: 11rem;
    height: 18rem;
    border-radius: 1rem;
}

.producto-c img{
    width: 11rem;
    height: 18rem;
    border-radius: 1rem;
}
.producto-d img{
    width: 11rem;
    height: 18rem;
    border-radius: 1rem;
}
section p{
    color: var(--quintocolor);
    margin-top: -1rem;
    font-size: 0.8rem;
}
section h3{
    color: var(--quintocolor);
    font-size: 1.1rem;
}
section span{
    margin-left: 3.5rem;
    font-weight: 300;
}
a{
    text-decoration: none;
}